@media screen and (max-width: 500px){
  img.logo-noccelo {
    width: 110px;
    height: 25px;
  }
  @media screen and (max-width: 300px){
    img.logo-noccelo {
      width: 90px;
      height: 21px;
    }
  }
}
@media screen and (max-width: 800px){
  img.logo-noccelo-transparent {
    width: 200px;
    height: 45px;
  }
  @media screen and (max-width: 550px){
    img.logo-noccelo-transparent {
      width: 200px;
      height: 40px;
    }
  }
  @media screen and (max-width: 478px){
    img.logo-noccelo-transparent {
      width: 180px;
      height: 35px;
    }
  }
  @media screen and (max-width: 478px){
    img.logo-noccelo-transparent {
      width: 110px;
      height: 25px;
    }
  }
}
.error-state {
  background-color: #c2c1a5;
}
.section.footer-section {
  padding-bottom: 50px;
}


