@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #333;
    font-family: 'Kanit', sans-serif;
}

header {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.logo {
    box-sizing: content-box;
    padding-left: 50px;
    width: 70px;
}

.logo > svg {
    display: block;
    width: 100%;
}

nav > ul {
    display: flex;
    font-size: 1rem;
    height: 70px;
    list-style: none;
    text-transform: capitalize;
}

nav > ul > li {
    line-height: 70px;
    padding: 0 30px;
    transition: background-color .3s ease-in-out;
}

nav > ul > li:hover {
    background-color: rgba(0,0,0,.1);
}

.nav-right > ul > li {
    border-right: 1px solid rgba(0,0,0,.1)
}

.nav-right > ul > li:nth-child(1) {
    border-left: 1px solid rgba(0,0,0,.1);
}

.nav-right > ul > li:last-child {
    border-right: none;
}

main {
    display: flex;
    height: calc(100vh - 70px);
}

.left {
    background-color: #f7f7f6;
    flex: 1;
    height: 100%;
}

.product-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.product-info > h1 {
    font-size: 3.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.product-info > p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.product-info > h2 {
    font-size: 1.56rem;
    margin-bottom: 20px;
}

.btn {
    color: #f7f7f6;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    padding: 20px;
    text-transform: uppercase;
    transition: box-shadow .5s ease-in-out,
                transform .5s ease-in-out;
}

.btn:hover {
    box-shadow: 3px 10px 20px rgba(0,0,0,.3);
    transform: translateY(-5px);
}

.info-btns {
    display: flex;
}

.discover-btn {
    background-color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cart-btn {
    background-color: #141110;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right {
    background-color: #000;
    flex: 1;
    height: 100%;
    position: relative;
}

.right > img {
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .logo > svg {
      height: 60px;
      width: 60px;
    }
  
    .logo {
      padding-left: 15px;
    }
    nav > ul {
      height: 60px;
      font-size: 1rem;
    }

    nav > ul > li {
      line-height: 60px;
      padding: 0 20px;
    }
    .product-info > h1 {
        font-size: 2.2rem;
    }

    .product-info > p {
        font-size: 1rem;
    }

    .product-info > h2 {
        font-size: 1.25rem;
    }

    .btn {
        font-size: .7rem;
        padding: 15px;
    }
    .right > img {
      left: -80px;
    }
}

@media screen and (max-width: 900px) {
  .logo > svg {
    height: 50px;
    width: 50px;
  }
  
  .logo {
    padding-left: 15px;
  }
  
  nav > ul {
    height: 50px;
    font-size: .9rem;
  }
  
  nav > ul > li {
    line-height: 50px;
    padding: 0 15px;
  }
  
  .right > img {
    left: -60px;
  }
}
/*Menu1*-----------------------------------------------------------------------------------------------------------------------------*/

  @media screen and (max-width:700px) {
	  .menu1 a{
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 10px;
      transition: 0.2s;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 14px;
      }
      .menu1 a:hover{
        transform: translateX(30px);
        transition-duration: 1s;
      }
      .show-menu1-btn {
        position: fixed;
        top: 5px;
        right: 30px;
        color: #000;
        padding: 3px;
        border-radius: 10%;
        z-index: 999;
      }
      .hide-menu1-btn{
        position: absolute;
        top: 40px;
        right: 35px;
        color: #fff;
      }
      .show-menu1-btn:hover {
        transform: rotate(360deg);
        transition-duration: 0.5s;
        cursor: pointer;
      }
      .hide-menu1-btn:hover{
        cursor: pointer;
      }
      .show-menu1-btn,.hide-menu1-btn{
      font-size: 20px;
      }
      #chk{
      position: absolute;
      visibility: hidden;
      z-index: -1111;
      }
      
	.menu1{
	  position: fixed;
	  width: 100%;
	  height: 100%;
    background: #000;
	  right: -100%;
	  top: 0;
	  text-align: center;
	  padding: 80px 0;
	  line-height: normal;
    transition: 0.6s;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	}
	.menu1 a{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 40px;
    margin-right: 10%;margin-left: 10%;
	}
	#chk:checked ~ .menu1{
	  right: 0;
  }
  
  nav > ul {
    display: none;
  }
  }
 

